<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.mypage">

	<select id="myDonateProjectList" parameterType="String"
		resultType="ProjectDto">
		SELECT *
		FROM PROJECT_TB
		JOIN (SELECT PRO_NUM FROM FUNDING_LIST
				WHERE USER_ID=#{user_id}) USING(PRO_NUM)
	</select>

	<select id="mySubscribeOrgList" parameterType="String"
		resultType="OrgDto">
		SELECT *
		FROM ORG
		JOIN (SELECT ORG_NUM FROM SUBSCRIBE
				WHERE USER_ID=#{user_id}) USING(ORG_NUM)
	</select>
	
	<select id="mySignUpList" parameterType="String" resultType="ChungwonDto">
		SELECT *
		FROM CHUNGWON
		JOIN (SELECT PET_NO FROM SIGN_UP
				WHERE USER_ID=#{user_id}) USING(PET_NO)
	</select>
	
	<select id="myChungwonList" parameterType="String" resultType="ChungwonDto">
		SELECT *
		FROM CHUNGWON
		WHERE USER_ID=#{user_id}
	</select>
	
	<select id="myTogetherApllyList" parameterType="String" resultType="TogetherDto">
		SELECT *
		FROM TOGETHER
		JOIN (SELECT * FROM TOGETHER_APPLY
				WHERE USER_ID=#{user_id}) USING(TOG_NO)
	</select>
	
	<select id="myTogetherList" parameterType="String" resultType="TogetherDto">
		SELECT *
		FROM TOGETHER
		WHERE USER_ID=#{user_id}
	</select>
</mapper>